.continer{
    border: 1px solid black;
    border-radius: 20px;
    background-color: aliceblue;
    padding: 30px;
    margin: 50px 10px 50px 10px;
}
.topic{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: rgb(224, 13, 13);
    font-size: 50px;
}
.detail{
    text-align: center;
    margin-top: -30px;
    font-weight: bold;
    font-size: 20px;
    color: brown;
}
.h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ul{
    margin-top:-10px;
    color: crimson;
}