.div{
    text-align: center;
    background-color: blanchedalmond;
}
img{
    border-radius: 100%;
    
}
.about{
    text-align: center;
}
.order{
    text-align: center;
    background-color: antiquewhite;
}
.hr{
    margin-top: 100px;
}
